# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Data and Models (Do NOT push these)
image_captioning_pro.egg-info
data/train2014/
data/annotations/
*.npy
*.h5
*.pth
*.pkl
mlruns/
checkpoints/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
